/*
Colors used:
Primary colour on white (Black): #333333;
Action Colour (Red): #D93A17;
Primary color on black (White): #FFFFFF
*/
* {
  box-sizing: border-box;
}

/*
Fonts and headings
*/
body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  }

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

/*
Buttons and links
*/
a {
  background-color: inherit;
  color: #D93A17;
  text-decoration: none;
}

a:visited {
  background-color: inherit;
  color: #4E2C3C;
  text-decoration: none;
}

a:hover,
a:focus {
  background-color: inherit;
  color: #D93A17;
  text-decoration: underline;
}

a:active {
  background-color: inherit;
  color: #333;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #D93A17;
  color: #FFF !important;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  color: inherit;
  background-color: #D93A17;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #D93A17;
  color: #FFF;
  opacity: 0.8;
}

.button.email {
  background-color: #FFF;
  color: #333 !important;
}

.button.email:hover {
  background-color: #D93A17;
  color: #FFF !important;
  transition: 0.3s background-color;
}

/*
  layout styling - general
*/
img {
  width: 100%;
}

#hero span {
  display: block;
}

header {
  background-color: #44546A;
  color: #FFF;

  /* text-align: center; */
  padding: 10px 0;
  margin: auto;
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 9px 0 rgba(46, 48, 46, 0.5);
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-filled {
  background: #F4F4F4;
  color: #333;
  padding: 20px;
}

.container-title {
  background: #D9D5CC;
  color: #333;
  width: 100%;
  min-height: 298px;
}

.image-caption {
  margin: 0;
  text-align: center;
  background-color: #FFF;
  color: #7B7E80;
  padding: 20px 5px;
}

.title {
  background-color: #333;
  color: #FFF;
  padding: 30px;
  margin: 30px 0;
}

.chapter {
  background-color: #E5E5E5;
  color: #333;
  padding: 30px;
  margin-top: 30px;
}

.button-wrapper {
  text-align: center;
  margin: 30px 0;
}

.button-wrapper-left {
  text-align: left;
  margin: 30px 0;
}

.row {
  margin: 25px 0;
}

.row-top {
  margin-top: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-height: 60px;
  max-width: 179px;
}

header > a {
  line-height: 0 !important;
}

header > .container > a {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #FFF;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle li .menu {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 30px;
  padding-right: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 1em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #44546A !important;
  color: #FFF !important;
}

nav > ul > li > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}

nav > ul > li > a:active {
  opacity: 0.8;
}

main {
  padding-top: 60px;
}

footer {
  background-color: #44546A;
  color: #FFF;
  text-align: center;
  padding: 25px 0;
  margin: 25px auto 0;
  width: 100%;
}

footer > .container > p > a {
  background-color: inherit;
  color: #FFF !important;
  font-weight: 700;
}

footer > .container > p > a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}

footer > .container > p > a:active {
  opacity: 0.8;
}

svg.icon {
  fill: #FFF;
}

svg.icon:hover {
  fill: #D93A17;
  transition: 0.3s fill;
}

svg.animated {
  max-width: 100%;
  max-height: 400px;
}

.icon {
  max-width: 60px;
}

.social {
  margin: 30px auto;
}

/*
Home Page - index.html
*/
#hero {
  background-color: rgba(68, 84, 106, 0.05);
  color: #333;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero .container {
  max-width: 1000px;
}

#work .row {
  padding-bottom: 2.5rem;
}

#work h2 {
  margin: 1.5em;
}

#work h3 {
  margin-top: 0;
}

/*
About Me - about.html
*/
#me h2 {
  margin: 0;
}

#me .row {
  padding-bottom: 15px;
}

#me .button {
  text-align: center !important;
}

#me .button-wrapper {
  text-align: center;
}

/*
The Expert - projects_expert.html
*/

.hero {
  background-color: #FFF;
  color: #333;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.hero > .container > h1 {
  margin: 0;
  padding: 0.67em 0;
}

.step {
  padding: 20px 0;
  max-width: 1170px;
}

/* csv animation
  */
@keyframes color-change {
  from {
    fill: #FFF;
  }

  to {
    fill: #D93A17;
  }
}

.big-heart {
  animation: 4s color-change infinite alternate linear;
}

/*
Medium devices (640px and larger)
*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin: 1em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  /* nav > ul {
    margin: 1em 0;
  } */

  main {
    padding: 79px 0 0;
  }

  .col-md-12 {
    width: 100%;
    margin-bottom: 0;
  }

  .col-md-6 {
    width: 50%;
    text-align: left;
    padding: 2.5rem 0;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
}

/*
Large devices (1024px or larger)
*/
@media only screen and (min-width: 1024px) {
  .col-lg-8 {
    width: 66.66%;
    padding: 0 80px 0 0;
  }

  .col-lg-7 {
    width: 58.33%;
    padding-top: 0;
    padding-right: 30px;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    padding-top: 0;
  }

  .col-lg-5 {
    width: 41.66%;
    float: left;
    padding: 0 0 0 20px;
  }

  .col-lg-4 {
    width: 33.33%;
    padding: 0 80px 0 0;
  }

  .col-lg-skills {
    padding: 0;
    margin: 0;
  }

  .row-lg-skills {
    width: 100%;
    text-align: left;
    padding: 0 0 10px;
  }

  #me h2 {
    text-align: left;
    margin-bottom: 1em;
  }

  #me h3 {
    margin-top: 0;
  }

  #me .col-lg-5 {
    width: 41.66%;
    float: left;
    padding: 0;
  }

  #me .col-lg-7 {
    padding-right: 60px;
  }

  #me .container-filled {
    background: #F4F4F4;
    color: #333;
    padding: 20px;
  }

  .container-title > .container > .row-top > .col-lg-7 {
    min-height: 298px;
    text-align: center;
    vertical-align: middle;
    line-height: 298px;
    padding-top: 80px;
  }
}
